html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.listItem {
    margin: 7px 0px;
    text-align: left;
}

.listItem__unorderedList {
    list-style-type: square;
    list-style-position: inside;
}